---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import NewArticles from "../components/NewArticles.astro";
import PopularArticles from "../components/PopularArticles.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="W. News">
  <div class="mx-4">
    <Header />
    <main class="mx-auto grid max-w-6xl gap-16 lg:gap-8">
      <Hero />
      <NewArticles />
      <PopularArticles />
    </main>
  </div>
</Layout>
