---
import IconMenu from "./svgs/IconMenu.astro";
import Logo from "./svgs/Logo.astro";
---

<header class="mx-4">
  <nav class="mx-auto flex max-w-6xl justify-between py-8">
    <a href="/"><Logo /></a>
    <button><IconMenu /></button>
    <ul class="hidden">
      <li><a href="/">Home</a></li>
      <li><a href="/">New</a></li>
      <li><a href="/">Popular</a></li>
      <li><a href="/">Trending</a></li>
      <li><a href="/">Categories</a></li>
    </ul>
  </nav>
</header>
