---
import IconMenu from "./svgs/IconMenu.astro";
import IconMenuClose from "./svgs/IconMenuClose.astro";
import Logo from "./svgs/Logo.astro";
---

<header class="sticky top-0 z-20 bg-brand-off-white">
  <nav class="mx-auto flex max-w-6xl justify-between py-8">
    <a href="#"><Logo /></a>
    <button id="menu-open" class="relative z-10 lg:hidden"><IconMenu /></button>
    <div
      id="overlay"
      class="fixed inset-0 bg-brand-dark-blue opacity-0 lg:hidden"
    >
    </div>
    <div
      id="menu"
      data-menu-open={false}
      class="fixed inset-y-0 z-50 w-64 grid-rows-[min-content_1fr] bg-brand-off-white p-6 lg:relative lg:w-fit lg:grid-rows-1 lg:p-0"
    >
      <button id="menu-close" class="self-start justify-self-end lg:hidden"
        ><IconMenuClose /></button
      >
      <ul
        id="menu-list"
        class="mt-20 flex flex-col gap-6 lg:relative lg:mt-0 lg:flex-row lg:items-center lg:gap-10"
      >
        <li class="text-nav-links transition-all hover:text-brand-vermillion">
          <a href="#">Home</a>
        </li>
        <li class="text-nav-links transition-all hover:text-brand-vermillion">
          <a href="#">New</a>
        </li>
        <li class="text-nav-links transition-all hover:text-brand-vermillion">
          <a href="#">Popular</a>
        </li>
        <li class="text-nav-links transition-all hover:text-brand-vermillion">
          <a href="#">Trending</a>
        </li>
        <li class="text-nav-links transition-all hover:text-brand-vermillion">
          <a href="#">Categories</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<script>
  import { timeline } from "motion";

  const menu = document.getElementById("menu");
  const menuOpenButton = document.getElementById("menu-open");
  const menuCloseButton = document.getElementById("menu-close");
  const overlay = document.getElementById("overlay");
  const desktopMQ = window.matchMedia("(min-width: 1024px)");
  menu &&
    (() => {
      menu.style.right = desktopMQ.matches ? "0" : "-100%";
      if (!desktopMQ.matches) {
        menuOpenButton?.addEventListener("pointerdown", handleOpen);
        menuCloseButton?.addEventListener("pointerdown", handleClose);
      }

      desktopMQ.onchange = (e) => {
        menu.style.right = e.matches ? "0" : "-100%";
        menu.style.display = e.matches ? "flex" : "none";
        if (!overlay) return;
        overlay.style.opacity = e.matches ? "0" : "";
        overlay.style.display = e.matches ? "none" : "";
        document.body.style.overflow = e.matches ? "auto" : "";
      };
    })();

  async function handleClose() {
    timeline([
      ["#menu", { right: "-100%" }, { duration: 0.75, easing: "ease-in-out" }],
      ["#menu", { display: "none" }],
    ]);
    timeline([
      ["#overlay", { opacity: 0 }, { duration: 0.9, easing: "ease-in-out" }],
      ["#overlay", { display: "none" }],
    ]);
    menu?.setAttribute("data-menu-open", "false");

    document.body.style.overflow = "auto";
  }

  function handleOpen() {
    timeline([
      ["#menu", { display: "grid" }],
      ["#menu", { right: 0 }, { duration: 0.2, easing: "ease-in-out" }],
    ]);
    timeline([
      ["#overlay", { display: "block" }],
      ["#overlay", { opacity: 0.5 }, { duration: 0.25, easing: "ease-in-out" }],
    ]);
    menu?.setAttribute("data-menu-open", "true");
    document.body.style.overflow = "hidden";
  }
</script>
