---
import IconMenu from "./svgs/IconMenu.astro";
import IconMenuClose from "./svgs/IconMenuClose.astro";
import Logo from "./svgs/Logo.astro";
---

<header class="sticky top-0 z-20 bg-brand-off-white">
  <nav class="mx-auto flex max-w-6xl justify-between py-8">
    <a href="#"><Logo /></a>
    <button id="menu-open" class="relative z-10 lg:hidden"><IconMenu /></button>
    <div id="overlay" class="fixed inset-0 bg-brand-dark-blue opacity-0"></div>
    <div
      id="menu"
      data-menu-open={false}
      class="fixed inset-y-0 z-50 w-64 grid-rows-[min-content_1fr] bg-brand-off-white p-6 lg:relative lg:w-fit lg:grid-rows-1 lg:p-0"
    >
      <button id="menu-close" class="self-start justify-self-end lg:hidden"
        ><IconMenuClose /></button
      >
      <ul
        id="menu-list"
        class="mt-20 flex flex-col gap-6 lg:relative lg:mt-0 lg:flex-row lg:items-center lg:gap-10"
      >
        <li class="text-nav-links transition-all hover:text-brand-vermillion">
          <a href="#">Home</a>
        </li>
        <li class="text-nav-links transition-all hover:text-brand-vermillion">
          <a href="#">New</a>
        </li>
        <li class="text-nav-links transition-all hover:text-brand-vermillion">
          <a href="#">Popular</a>
        </li>
        <li class="text-nav-links transition-all hover:text-brand-vermillion">
          <a href="#">Trending</a>
        </li>
        <li class="text-nav-links transition-all hover:text-brand-vermillion">
          <a href="#">Categories</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<script>
  import { animate } from "motion";

  const menu = document.getElementById("menu");
  const menuOpenButton = document.getElementById("menu-open");
  const menuCloseButton = document.getElementById("menu-close");
  const overlay = document.getElementById("overlay");
  const desktopMQ = window.matchMedia("(min-width: 1024px)");
  menu &&
    (() => {
      menu.style.right = desktopMQ.matches ? "0" : "-100%";
      if (!desktopMQ.matches) {
        menuOpenButton?.addEventListener("pointerdown", handleOpen);
        menuCloseButton?.addEventListener("pointerdown", handleClose);
      }

      desktopMQ.onchange = (e) => {
        if (!overlay) return;
        if (e.matches) {
          menu.removeAttribute("hidden");
          menu?.removeAttribute("data-menu-open");
          menu.style.right = "0";
          overlay.setAttribute("hidden", "true");
          document.body.style.overflow = "auto";
        } else {
          menu.setAttribute("hidden", "true");
          menu.setAttribute("data-menu-open", "false");
          menu.style.right = "-100%";
        }
      };
    })();

  function handleClose() {
    animate(
      "#menu",
      { right: "-100%" },
      { duration: 0.75, easing: "ease-in-out" },
    );
    animate(
      "#overlay",
      { opacity: 0 },
      { duration: 0.9, easing: "ease-in-out" },
    );
    menu?.setAttribute("data-menu-open", "false");
    setTimeout(() => {
      menu?.setAttribute("hidden", "true");
      overlay?.setAttribute("hidden", "true");
    }, 750);

    document.body.style.overflow = "auto";
  }

  function handleOpen() {
    menu?.removeAttribute("hidden");
    menu?.setAttribute("data-menu-open", "true");
    overlay?.removeAttribute("hidden");
    animate("#menu", { right: 0 }, { duration: 0.2, easing: "ease-in-out" });
    animate(
      "#overlay",
      { opacity: 0.5 },
      { duration: 0.25, easing: "ease-in-out" },
    );
    document.body.style.overflow = "hidden";
  }
</script>
