---
interface Props {
  title: string;
  subtitle: string;
  last?: boolean;
}
const { title, subtitle, last }: Props = Astro.props;
---

<li class="grid gap-2 border-b border-[#5E607A] pb-8 last:border-0">
  <h3 class="text-hd-sm">{title}</h3>
  <p class="text-brand-silver">{subtitle}</p>
</li>
